<h1>STUPID COACHING</h1>
<p></p>
<h2>Hello user, you asked the following question:</h2>

<%= @user_question %>

<h2>My answer to your question is:</h2>
<p></p>
<%= @coach_answer %>
<p></p>
<%= link_to "Ask a new question", ask_path %>
